#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.hero-image {
  position: fixed;
  top: 60%;
  transform: translateY(-50%);
  height: 90vh;
  width: auto;
  pointer-events: none;
}