@import "tailwindcss";

/* Font-face declarations */
@font-face {
  font-family: 'Junicode';
  src: url('./assets/fonts/Junicode-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Junicode';
  src: url('./assets/fonts/Junicode-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Satoshi';
  src: url('./assets/fonts/Satoshi-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Sentient';
  src: url('./assets/fonts/Sentient-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Sentient';
  src: url('./assets/fonts/Sentient-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

:root {
  --color-primary-blue: #ADCCEE;
  --color-primary-pink: #FFDBE4;
  --color-secondary-blue: #385893;
  --color-light: #F7F4F2;
  --color-dark: #111B2D;

  --font-junicode: 'Junicode', serif;
  --font-satoshi: 'Satoshi', sans-serif;
  --font-sentient: 'Sentient', serif;

  font-family: var(--font-junicode), var(--font-satoshi), var(--font-sentient);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--color-primary-blue);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-primary-pink);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: var(--font-junicode);
  font-weight: 400;
  font-size: 172px;
  letter-spacing: -2%;
  /* line-height: normal; */
}

h2 {
  font-family: var(--font-junicode);
  font-weight: 400;
  font-size: 96px;
  letter-spacing: 0%;
  /* line-height: normal; */
}

h3 {
  font-family: var(--font-junicode);
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0%;
  /* line-height: normal; */
}

h4 {
  font-family: var(--font-satoshi);
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0%;
  /* line-height: normal; */
}

p {
  font-family: var(--font-sentient);
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -1%;
}

p.italic {
  font-family: var(--font-sentient);
  font-style: italic;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--color-primary-blue);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--color-light);
  }
  a:hover {
    color: var(--color-primary-blue);
  }
  button {
    background-color: var(--color-light);
  }
}
