@import "tailwindcss";

/* Font-face declarations */
@font-face {
  font-family: 'Junicode';
  src: url('./assets/fonts/Junicode-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Junicode';
  src: url('./assets/fonts/Junicode-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Junicode';
  src: url('./assets/fonts/Junicode-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Junicode';
  src: url('./assets/fonts/Junicode-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Satoshi';
  src: url('./assets/fonts/Satoshi-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Sentient';
  src: url('./assets/fonts/Sentient-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Sentient';
  src: url('./assets/fonts/Sentient-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

:root {
  --color-primary-blue: #ADCCEE;
  --color-primary-pink: #FFDBE4;
  --color-secondary-blue: #385893;
  --color-light: #F7F4F2;
  --color-dark: #111B2D;

  --font-junicode: 'Junicode', serif;
  --font-satoshi: 'Satoshi', sans-serif;
  --font-sentient: 'Sentient', serif;

  font-family: var(--font-junicode), var(--font-satoshi), var(--font-sentient);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-dark);
  background-color: var(--color-light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden; /* Prevent scrolling */
}

h1 {
  font-family: var(--font-junicode);
  font-weight: 400;
  font-size: 172px;
  letter-spacing: -2%;
  /* line-height: normal; */
}

h2 {
  font-family: var(--font-junicode);
  font-weight: 700;
  font-size: 96px;
  letter-spacing: 0%;
  /* line-height: normal; */
}

h3 {
  font-family: var(--font-junicode);
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0%;
  /* line-height: normal; */
}

h4 {
  font-family: var(--font-satoshi);
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0%;
  /* line-height: normal; */
}

h5 {
  font-family: var(--font-junicode);
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0%;
  /* line-height: normal; */
}

p {
  font-family: var(--font-sentient);
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -1%;
}

p.italic {
  font-family: var(--font-sentient);
  font-style: italic;
}

a {
  font-family: var(--font-satoshi);
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0%;
  transition: font-style 0.2s, transform 0.2s;
}
a:hover {
  color: var(--color-secondary-blue);
  transform: translateY(-2px);
}

.home-link {
  font-family: var(--font-junicode);
  color: var(--color-dark);
  font-weight: 400;
  font-size: 172px;
  letter-spacing: -2%;
  text-decoration: none;
  margin-bottom: -80px;
}

@media (max-width: 768px) {
  .home-link {
    font-size: 76px;
    margin-bottom: -35px; /* Adjusted to account for smaller text */
  }
}

.hover-text {
  color: var(--color-secondary-blue);
  font-style: italic;
  transform: translateX(40px);
  transition: font-style 0.2s, transform 0.2s ease;
  display: inline-block; /* Important to make transform work */
}

/* Mobile-specific hover text styling */
@media (max-width: 768px) {
  .hover-text.mobile-hover {
    color: var(--color-dark);
    font-style: italic;
    transform: translateX(0);
  }
}


/* Responsive font sizes (Nav Bar) */
@media (max-width: 1024px) and (min-width: 768px) {
  .font-nav-sm {
    font-size: 20px;
  }
}